.selectAll {
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.activities {
  --border-color: #333;
  --background-color: var(--background);

  list-style-type: none;
  padding: 0;

  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  overflow: hidden;

  & > li {
    padding: 0.5rem;
    & + li {
      border-top: 1px solid var(--border-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .activities {
    --background-color: #1a1a1a;
  }
}
