.activityItem {
  --item-complete: #038718;
  --item-incomplete: #cf6300;
  --item-empty: #d91240;
  --item-disabled: gray;

  display: flex;
  align-items: first baseline;
  column-gap: 0.5rem;
  border-left: 4px solid transparent;

  & > input {
    flex: 0;
  }
  & > div {
    flex: 1;
  }

  &.complete {
    border-left-color: var(--item-complete);
  }
  &.incomplete {
    border-left-color: var(--item-incomplete);
  }
  &.empty {
    border-left-color: var(--item-empty);
  }
  &.disabled {
    background-color: var(--item-disabled);
  }
}

.fieldGrouping {
  display: flex;
  gap: 0.5rem;
  & > * {
    flex: 1;
  }

  & label {
    display: flex;
    align-content: stretch;
    gap: 0.25rem;
    align-items: baseline;
    white-space: nowrap;
    & > * {
      flex: 1;
    }
  }
}
